.about {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#about nav {
  position: sticky;
  top: 0;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  background-color: var(--bgColor);
}

#about nav h2 {
  font-size: 32px;
}

#about nav button.return {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: unset;
  width: 64px;
  height: 64px;
  border: none;
  transition: transform 0.1s ease-out, background-color 0.1s ease-out;
}

#about nav button.return svg {
  width: 100%;
  transition: transform 0.1s ease-in-out;
}

#about nav button.return:hover {
  transform: scale(1.05);
}

#about #card-grid {
  padding: 16px;
  min-height: calc(100vh - 100px);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#about .card {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  border-radius: 64px;
  padding: 16px;
  color: var(--textColor);
  background-color: var(--cardColor);
  transition: transform 0.1s ease-out, background-color 0.1s ease-out;
}

#about a.card:hover {
  transform: scale(1.01);
  background-color: darkgrey;
}

/* Pages */

#about .pages {
  flex-direction: column;
  width: 100%;
  position: relative;
  color: var(--textColor);
}

#about .pages nav {
  height: auto;
  position: sticky;
  top: calc(100vh - 188px);
  padding: 0px;
  justify-content: flex-end;
  background-color: unset;
}

#about .pages nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 16px;
}

#about .pages nav ul li button {
  width: 80px;
  height: 80px;
  background-color: var(--cardColor);
  color: var(--textColor);
  border-radius: 30%;
  border-style: none;
  margin: 4px;
  transition: background-color 0.1s ease-out, transform 0.1s ease-out;
}

#about .pages .page {
  width: 100%;
  min-height: 100vh;
  padding: 80px 64px 64px 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#about .pages .image {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#about .pages img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

#about .pages .text {
  max-width: 800px;
  font-size: 16px;
  line-height: 24px;
}
