.about {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  width: 100vw;
}

#about nav {
  position: sticky;
  top: 0;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

#about nav h2 {
  font-size: 32px;
}

#about nav button.return {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: unset;
  width: 64px;
  height: 64px;
  border: none;
  transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}

#about nav button.return:hover svg {
  transform: scale(1.05);
}

#about #card-grid {
  min-height: calc(100vh - 100px);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#about .card {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  border-radius: 64px;
  padding: 16px;
  color: white;
  background-color: black;
  transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}

#about a.card:hover {
  transform: scale(1.01);
  background-color: darkgrey;
}

#about .pages {
  flex-direction: column;
  width: 100%;
  position: relative;
}

#about .pages nav {
  height: auto;
  position: sticky;
  top: calc(100vh - 176px);
  padding: 0px;
  justify-content: flex-end;
}

#about .pages nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#about .pages nav ul li button {
  width: 80px;
  height: 80px;
  background-color: black;
  color: white;
  border-radius: 30%;
  border-style: none;
  margin: 4px;
  transition: background-color 0.3s ease-out, transform 0.3s ease-out;
}

#about .pages .page {
  width: 100%;
  min-height: 100vh;
  padding: 64px;
}
