:root {
  --bgColor: rgb(14, 14, 14);
  --textColor: white;
  --cardColor: #686569;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--textColor);
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Puisi Adinda";
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--bgColor);
  transition: background-color 7s ease;
}

:fullscreen {
  background-color: var(--bgColor);
}

.preloader {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: var(--textColor);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preloader .content svg {
  animation: pulse 1.2s ease-in-out infinite alternate both;
  width: 200px;
  height: 200px;
}

/* .preloader .content svg path {
  fill: red;
} */

.done .content {
  animation: fade 1s linear 1s 1 normal forwards;
}

.done {
  animation: squeeze 1s ease-in-out 2s 1 normal forwards;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 24px;
}

main nav {
  position: absolute;
}

button.about-button {
  position: relative;
  width: 84px;
  background-color: unset;
  border: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease-in-out;
}

button.about-button:hover {
  transform: scale(1.04);
}

button.about-button svg {
  position: absolute;
  z-index: 1;
}

button.about-button span {
  font-size: 16px;
  font-family: "Zhang Qa";
  color: var(--textColor);
  position: relative;
  z-index: 2;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.content-wrapper button.full-screen {
  font-family: "Zhang Qa";
  font-size: 24px;
  background-color: var(--cardColor);
  color: var(--textColor);
  border: unset;
  padding: 8px;
  border-radius: 8px;
  transition: transform 0.1s ease-in-out;
}

.content-wrapper button.full-screen:hover {
  transform: scale(1.04);
}

.full-screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen-wrapper button {
  position: absolute;
  width: 48px;
  top: 16px;
  right: 16px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: unset;
  border: none;
  transition: transform 0.1s ease-in-out;
}

.full-screen-wrapper button:hover {
  transform: scale(1.04);
}

.full-screen-wrapper button.active {
  display: flex;
}
