:root {
  --bgColor: rgb(32, 32, 32);
  --textColor: white;
  --cardColor: lightslategray;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--textColor);
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  background-color: var(--bgColor);
}

:fullscreen {
  background-color: var(--bgColor);
}

.preloader {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bgColor);
  color: var(--textColor);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preloader .content svg {
  animation: pulse 1.2s ease-in-out infinite alternate both;
  width: 100px;
  height: 100px;
}

.preloader .content svg path {
  fill: red;
}

.done {
  animation: squeeze 1s ease-in-out 1s 1 normal forwards;
}

.done .content {
  animation: fade 1s linear 0s 1 normal forwards;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 24px;
}

main nav {
  position: absolute;
}

button.about-button {
  position: relative;
  width: 84px;
  background-color: unset;
  border: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.about-button svg {
  position: absolute;
  z-index: 1;
}

button.about-button span {
  color: var(--textColor);
  position: relative;
  z-index: 2;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-wrapper button.full-screen {
  font-size: 16px;
  background-color: unset;
  border: unset;
  color: var(--textColor);
}

.full-screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen-wrapper button {
  position: absolute;
  top: 16px;
  right: 16px;
  display: none;
}

.full-screen-wrapper button.active {
  display: initial;
}
