@media screen and (max-width: 800px) {
  #about .pages .image {
    grid-template-columns: repeat(1, 1fr);
  }

  #about .pages img {
    height: 200px;
  }
}

@media screen and (max-width: 1350px) {
  #about .pages .page {
    min-width: 100%;
  }
  #about #card-grid {
    max-width: 100%;
    margin-left: none;
    margin-right: none;
  }
}
